{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "https://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="Description" content="OnCl - Edu. Cloud is a Educational Cloud Application which helps students, faculty and others who are in the learning world.">
      <!-- Theme Color above the Navbar in Mobile Phones -->
      <meta name="theme-color" content="#5f95eb">
      <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <style type="text/css" nonce="bb4JM1KEtzBOnAp+VXgJ/A">
         body,td,div,p,a,input {
            font-family: arial, sans-serif;
         }
   </style>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <link rel="apple-touch-icon" href="{% static 'oncl_app/whin.png' %}" type="image/icon type">
   <link rel="icon" href="{% static 'oncl_app/whin.png' %}" type="image/icon type">
   <title>OnCl Account Login alert</title>
   <style type="text/css" nonce="bb4JM1KEtzBOnAp+VXgJ/A">
      body, td {
         font-size:13px
      } 
      
      a:link, a:active {
         color:#1155CC;
         text-decoration:none;
      }
      
      a:hover {
         text-decoration:underline; cursor: pointer
      }
      
      a:visited {
         color: #6611CC
      }
      
      img {
         border:0px
      }
      
      pre { 
         white-space: pre;
         white-space: -moz-pre-wrap;
         white-space: -o-pre-wrap;
         white-space: pre-wrap;
         word-wrap: break-word;
         max-width: 800px;
         overflow: auto;
      }
      
      .logo {
         left: -7px;
         position: relative;
      }

      .hidden_text {
         font-size: 1.2rem;
      }
   </style>
   <body>
      <div class="bodycontainer">
         <div class="maincontent">
            <table width=100% cellpadding=0 cellspacing=0 border=0 class="message">
               <tr>
                  <td align=right>
                     <tr>
                        <td colspan=2 style="padding-bottom: 4px;">
                        <tr>
                           <td colspan=2>
                              <table width=100% cellpadding=12 cellspacing=0 border=0>
                                 <tr>
                                   <td><div style="overflow: hidden;">
                     <font size=-1>
                        <u></u>
                        <div style="margin:0;padding:0" bgcolor="#FFFFFF">
                           <table width="100%" height="100%" style="min-width:348px" border="0" cellspacing="0" cellpadding="0" lang="en">
                              <tr height="32" style="height:32px">
                                 <td></td>
                              </tr>
                              <tr align="center">
                                 <td>
                                    <div>
                                       <div>                                                      
                                       </div>
                                    </div>
                                    <table border="0" cellspacing="0" cellpadding="0" style="padding-bottom:20px;max-width:516px;min-width:220px">
                                       <tr>
                                          <td width="8" style="width:8px"></td>
                                          <td>
                                             <div style="border-style:solid;border-width:thin;border-color:#dadce0;border-radius:8px;padding:40px 20px" align="center" class="m_-964617932886870361mdv2rw">                                             
                                                <a rel="noopener" href="https://oncl.herokuapp.com/" target="_blank" style="color:#4285f4;text-decoration:underline" target="_blank" data-saferedirecturl="https://oncl.herokuapp.com/">
                                                   <img width="150" height="20" border="0" src="https://oncl.herokuapp.com/static/oncl_app/OnCl.png" alt="OnCl" style="width:150px;height:20px;text-align:center;border:none;">
                                                </a>
                                                <div style="font-family:&#39;Google Sans&#39;,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;border-bottom:thin solid #dadce0;color:rgba(0,0,0,0.87);line-height:32px;padding-bottom:24px;text-align:center;word-break:break-word">
                                                   <div style="font-size:24px">Device signed in to </div>
                                                   <table align="center" style="margin-top:8px">
                                                      <tr style="line-height:normal">
                                                         <td>
                                                            <a style="font-family:&#39;Google Sans&#39;,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;color:rgba(0,0,0,0.87);font-size:14px;line-height:20px">{{email}}</a>
                                                         </td>
                                                      </tr>
                                                      <tr>
                                                         <b> On {% now "jS F Y H:i" %} </b>
                                                      </tr>
                                                   </table>
                                                </div>
                                                <div style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:14px;color:rgba(0,0,0,0.87);line-height:20px;padding-top:20px;text-align:center">Your OnCl Account was just signed in to from a device. You&#39;re getting this email to make sure that it was you. If, It wasn&#39;t you, then immediately change your password.
                                                   <div style="padding-top:32px;text-align:center">
                                                      <a href="https://oncl.herokuapp.com/reset_password/" rel="noreferrer" style="font-family:&#39;Google Sans&#39;,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;line-height:16px;color:#ffffff;font-weight:400;text-decoration:none;font-size:14px;display:inline-block;padding:10px 24px;background-color:#4184f3;border-radius:5px;min-width:90px" target="_blank" data-saferedirecturl="https://oncl.herokuapp.com/reset_password/">Reset Password</a>
                                                   </div>
                                                </div>
                                             </div>
                                             <div style="text-align:left">
                                                <div style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;color:rgba(0,0,0,0.54);font-size:11px;line-height:18px;padding-top:12px;text-align:center">
                                                   <div>You received this email to let you know about important changes to your OnCl Account.</div>
                                                   <div style="direction:ltr">Apache License Version 2.0 2021 OnCl - Edu. Cloud, <span class="m_-964617932886870361afal" style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;color:rgba(0,0,0,0.54);font-size:11px;line-height:18px;padding-top:12px;text-align:center">Andhra Pradesh, India</span></div>
                                                </div>
                                             </div>
                                          </td>
                                          <td width="8" style="width:8px"></td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                              <tr height="32" style="height:32px">
                                 <td></td>
                              </tr>
                           </table>
                        </div>
                     </font>
                  </div>
               </table>
            </table>
         </div>
      </div>
   </body>
</html>