{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Theme Color above the Navbar in Mobile Phones -->
	<meta name="theme-color" content="#76e989">
	<title>Sign in - OnCl Account</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Google Recaptcha -->
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	<!-- <meta http-equiv="Content-Security-Policy" content="script-src-elem 'strict-dynamic' 'sha256-vvt4KWwuNr51XfE5m+hzeNEGhiOfZzG97ccfqGsPwvE=' 'nonce-{{rAnd0m123}}' 'unsafe-inline' http: https:; object-src 'none'; base-uri 'none';"> -->
<!--===============================================================================================-->	
	<link rel="apple-touch-icon" href="{% static 'oncl_app/OnCl Logo [Background Removed].png' %}" type="image/icon type">
	<link rel="icon" href="{% static 'oncl_app/OnCl Logo [Background Removed].png' %}" type="image/icon type">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'oncl_app/login_register/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'oncl_app/login_register/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'oncl_app/login_register/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'oncl_app/login_register/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'oncl_app/login_register/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'oncl_app/login_register/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'oncl_app/login_register/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'oncl_app/login_register/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'oncl_app/login_register/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'oncl_app/login_register/css/main.css' %}">
<!--===============================================================================================-->
<script nonce="{{rAnd0m123}}" src="https://kit.fontawesome.com/982d9630c6.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
<!--===============================================================================================-->

<script nonce="{{rAnd0m123}}" src="{% static 'oncl_app/jquery_3.6.0.min.js' %}"></script>

<style>
/* Styles for Navbar */
.bg-light {
	background-color: #ffffff!important;
	box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

@media (min-width: 992px){
	.external-collapse.navbar-collapse {
		display: -webkit-box!important;
		display: -ms-flexbox!important;
		display: flex!important;
	}
}

@media screen and (min-width: 376px){
	.header_img {
		height: 30px;
		width: 30px;
		margin-bottom: 5px;
	}
}

@media screen and (max-width: 376px){
	.header_img {
		height: 25px;
		width: 25px;
		margin-bottom: 5px;
	}
}

@media screen and (min-width: 400px){
	.header_title {
		font-size: 25px;
	}
}

@media screen and (max-width: 376px){
	.header_title {
		font-size: 21px;
	}
}
@media screen and (min-width: 376px){
	.header_img {
		height: 30px;
		width: 30px;
		margin-bottom: 5px;
	}
}

@media screen and (max-width: 376px){
	.header_img {
		height: 25px;
		width: 25px;
		margin-bottom: 5px;
	}
}

.g-recaptcha {
	transform:scale(0.84);
	-webkit-transform:scale(0.84);
	transform-origin:0 0;
	-webkit-transform-origin:0 0;
	width: 254px;
	height: 78px;
}
</style>
</head>
<!-- <body onload="getLocation()"> -->
<body>

	<nav class="navbar sticky-top navbar-light bg-light" style="padding: 18px;">
		<a href="/" class="navbar-brand">
			<img class="header_img" src="{% static 'oncl_app/OnCl Logo.gif' %}" alt="OnCl Logo">
			<span style="font-weight: 500; font-family: 'Fredoka One', cursive; color: #3c4043; font-size: 1.6rem;">
			  <span style="color: tomato;">O</span><span style="color: #5f95eb;">n</span><span style="color: #76e989;">C</span><span style="color: #fcc834">l</span> - Edu. Cloud
			</span>
		</a>
	</nav>

	<!-- {% include 'oncl_app/messages.html' %} -->
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
				<form class="login100-form validate-form flex-sb flex-w" method="POST" action="">
					<span class="login100-form-title p-b-32">
						<img class="header_img" src="{% static 'oncl_app/OnCl Logo.gif' %}" class="d-inline-block align-top img-fluid" alt="OnCl Logo">&nbsp;Account Login
					</span>
					{% csrf_token %}
					<span class="txt1 p-b-11">
						<i class="fas fa-user-circle"></i>&nbsp;Username
					</span>
					<div class="wrap-input100 validate-input m-b-36" data-validate = "Username is required">
						<input class="input100" type="text" name="username" maxlength="40" id="id_username" placeholder="Username">
						<span class="focus-input100"></span>
					</div>
					
					<span class="txt1 p-b-11">
						<i class="fas fa-key"></i>&nbsp;Password
					</span>
					<div class="wrap-input100 validate-input m-b-12" data-validate = "Password is required">
						<span class="btn-show-pass">
							<i class="fa fa-eye"></i>
						</span>
						<input class="input100" oninput="myFunction()" type="password" name="password" maxlength="40" id="id_password" placeholder="Password">
						<input type="text" name="encrypted_password" id="id_encrypted_password" hidden/>
						<span class="focus-input100"></span>
					</div>

					<input type="number" name="location" id="location" value="4" placeholder="location" hidden/>
					<input type="text" name="latitude" id="latitude" value="5" placeholder="latitude" hidden/>
					<input type="text" name="longitude" id="longitude" value="5" placeholder="longitude" hidden/>
					<input type="text" name="ip_addr" id="ip_addr" placeholder="ip_address" hidden/>

					<div class="g-recaptcha" data-sitekey="6LeJoakaAAAAAHW56XdgC_7vPMVG38ZtGaJr-AnQ"></div>
					
					<div class="flex-sb-m w-full p-b-20">
						<!-- <div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div> -->

						<div>
							<a href="{% url 'register' %}" class="txt3">
								😃&nbsp;Need to create an OnCl Account!
							</a>
						</div>

						<div>
							<a href="{% url 'reset_password' %}" class="txt3">
								😕&nbsp;Forgot Password?
							</a>
						</div>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit" value="Login">
							<i class="fas fa-sign-in-alt"></i>&nbsp;Login
						</button>

						&nbsp;&nbsp;
						<a type="button" href="/" class="login101-form-btn">
							<i class="fas fa-walking"></i>&nbsp;<i class="fas fa-home"></i>&nbsp;Home
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script nonce="{{rAnd0m123}}" src="{% static 'oncl_app/login_register/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script nonce="{{rAnd0m123}}" src="{% static 'oncl_app/login_register/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script nonce="{{rAnd0m123}}" src="{% static 'oncl_app/login_register/vendor/bootstrap/js/popper.js' %}"></script>
	<script nonce="{{rAnd0m123}}" src="{% static 'oncl_app/login_register/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script nonce="{{rAnd0m123}}" src="{% static 'oncl_app/login_register/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script nonce="{{rAnd0m123}}" src="{% static 'oncl_app/login_register/vendor/daterangepicker/moment.min.js' %}"></script>
	<script nonce="{{rAnd0m123}}" src="{% static 'oncl_app/login_register/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script nonce="{{rAnd0m123}}" src="{% static 'oncl_app/login_register/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script nonce="{{rAnd0m123}}" src="{% static 'oncl_app/login_register/js/main.js' %}"></script>

	<script nonce="{{rAnd0m123}}" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script nonce="{{rAnd0m123}}">   
		$.getJSON("https://api.ipify.org?format=json",
		function(data) {
			document.getElementById("ip_addr").value = data.ip;
		})
	</script>

<script nonce="{{rAnd0m123}}">
function myFunction() {
    let username = document.getElementById("id_username").value;
    let plain_data = document.getElementById("id_password").value;
    let password_username = plain_data.concat(username);
    var ASCII_Username = new Array();
    for (let i = 0; i < username.length; i++) {
        ASCII_Username[i]=username.charCodeAt(i);
    }
    var ASCII_Username_Sum = ASCII_Username.reduce(function(a, b){
        return a + b;
    }, 0);
    let Encrypted_text = "";
    for (let i = 0; i < password_username.length; i++) {
        Encrypted_text += String.fromCharCode(password_username.charCodeAt(i) + ASCII_Username_Sum);
    }
    document.getElementById("id_encrypted_password").value = Encrypted_text;
}
</script>

	<script nonce="{{rAnd0m123}}">
		var x = document.getElementById("demo");
		
		function getLocation() {
		  if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(showPosition, showError);
		  } else { 
			x.innerHTML = "Geolocation is not supported by this browser.";
		  }
		}
		
		function showPosition(position) {
		  x.innerHTML = "Latitude: " + position.coords.latitude + 
		  " Longitude: " + position.coords.longitude;
		  document.getElementById("latitude").value = position.coords.latitude;
		  document.getElementById("longitude").value = position.coords.longitude;
		}
		
		function showError(error) {
		  switch(error.code) {
			case error.PERMISSION_DENIED:
			  x.innerHTML = "User denied the request for Geolocation."
			  document.getElementById("location").value = 0;
			  break;
			case error.POSITION_UNAVAILABLE:
			  x.innerHTML = "Location information is unavailable."
			  document.getElementById("location").value = 1;
			  break;
			case error.TIMEOUT:
			  x.innerHTML = "The request to get user location timed out."
			  document.getElementById("location").value = 2;
			  break;
			case error.UNKNOWN_ERROR:
			  x.innerHTML = "An unknown error occurred."
			  document.getElementById("location").value = 3;
			  break;
		  }
		}
		</script>

</body>
</html>