{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "https://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
   <head>
      <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
      <style type="text/css" nonce="QoM+pd/XW91oAKAiBxEEhQ">
      body,td,div,p,a,input {
         font-family: arial, sans-serif;
      }
      </style>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <link rel="apple-touch-icon" href="{% static 'oncl_app/images/whin.webp' %}" type="image/icon type">
   <link rel="icon" href="{% static 'oncl_app/images/whin.webp' %}" type="image/icon type">
   <title>OnCl - {{first_name}}, welcome to your new OnCl Account</title>
   <style type="text/css" nonce="QoM+pd/XW91oAKAiBxEEhQ">
   body, td {
      font-size:13px
   } 
   a:link, a:active {
      color:#1155CC; text-decoration:none
   } 
   a:hover {
      text-decoration:underline; cursor: pointer
   } 
   a:visited{
      color:#6611CC
   } 
   img{
      border:0px
   }
   pre {
      white-space: pre;
      white-space: -moz-pre-wrap;
      white-space: -o-pre-wrap;
      white-space: pre-wrap;
      word-wrap: break-word;
      max-width: 800px;
      overflow: auto;
   }
   .logo {
      left: -7px; 
      position: relative;
   }
   </style>
   <body>
      <div class="bodycontainer">
         <div class="maincontent">
            <table width=100% cellpadding=0 cellspacing=0 border=0 class="message">
               <tr>
                  <tr>
                     <td colspan=2 style="padding-bottom: 4px;">
                        <tr>
                           <td colspan=2><table width=100% cellpadding=12 cellspacing=0 border=0>
                              <tr>
                                 <td>
                                    <div style="overflow: hidden;"><font size=-1>
                                       <div style="padding:0;margin:0" class="m_-2438458251437436165body_wrapper">
                                          <center>
                                          <table border="0" cellspacing="0" cellpadding="0" align="center" width="520" bgcolor="#ffffff" style="background:#ffffff;min-width:520px">
                                             <tr>
                                                <td width="20" bgcolor="#eeeeee" style="background:#eeeeee"></td>
                                                <td width="480">
                                                   <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                      <tr>
                                                         <td height="20" bgcolor="#eeeeee" style="background:#eeeeee"></td>
                                                      </tr>
                                                      <tr>
                                                         <td>
                                                            <table border="0" cellspacing="0" cellpadding="0" align="center" width="100%" style="border-bottom:1px solid #eeeeee">
                                                               <tr>
                                                                  <td height="49"></td>
                                                               </tr>
                                                               <tr>
                                                                  <td align="center" style="color:#4285f4;font-family:&quot;Roboto&quot;,OpenSans,&quot;Open Sans&quot;,Arial,sans-serif;font-size:32px;font-weight:normal;line-height:46px;margin:0;padding:0 25px 0 25px;text-align:center">Hi {{first_name}},</td>
                                                               </tr>
                                                               <tr>
                                                                  <td height="20"></td>
                                                               </tr>
                                                               <tr>
                                                                  <td align="center" style="color:#757575;font-family:&quot;Roboto&quot;,OpenSans,&quot;Open Sans&quot;,Arial,sans-serif;font-size:17px;font-weight:normal;line-height:24px;margin:0;padding:0 25px 0 25px;text-align:center"> Thank you for creating a OnCl Account. Here is some advice to get started with your OnCl account.
                                                                     <br> 
                                                                     Your OnCl Account is created using this {{email}}.</td>
                                                               </tr>
                                                               <tr>
                                                                  <td height="30"></td>
                                                               </tr>
                                                            </table>
                                                         </td>
                                                      </tr>
                                                      <tr>
                                                         <td>
                                                            <table border="0" cellspacing="0" cellpadding="0" align="center" width="100%" style="border-bottom:1px solid #eeeeee">
                                                               <tr>
                                                                  <td height="32"></td>
                                                               </tr>
                                                               <tr>
                                                                  <td width="70" height="70" align="center" style="font-size:8px">
                                                                     <a href="https://oncl.herokuapp.com/" target="_blank" style="color:#4285f4;text-decoration:underline" target="_blank" data-saferedirecturl="https://oncl.herokuapp.com/">
                                                                        <img width="70" height="70" src="https://oncl.herokuapp.com/static/oncl_app/whin.png" alt="OnCl" border="0" style="width:70px;height:70px;text-align:center;border:none">
                                                                     </a>
                                                                  </td>
                                                               </tr>
                                                               <tr>
                                                                  <td height="15"></td>
                                                               </tr>
                                                               <tr>
                                                                  <td align="center" class="m_-2438458251437436165device_txt" style="color:#757575;font-family:&quot;Roboto&quot;,OpenSans,&quot;Open Sans&quot;,Arial,sans-serif;font-size:24px;font-weight:normal;line-height:33px;margin:0;padding:0 25px 0 25px;text-align:center">Make Learning Easy</td>
                                                               </tr>
                                                               <tr>
                                                                  <td height="4" style="line-height:4px;font-size:4px"></td>
                                                               </tr>
                                                               <tr>
                                                                  <td align="center" style="color:#757575;font-family:&quot;Roboto&quot;,OpenSans,&quot;Open Sans&quot;,Arial,sans-serif;font-size:17px;font-weight:normal;line-height:24px;margin:0;padding:0 25px 0 25px;text-align:center">OnCl is a learning platform designed to provide educators, administrators and learners with a single robust, secure and integrated system to create personalised learning environments. You can access to this web application through any of your devices i.e., either Phone, Tablet and Computer.</td>
                                                               </tr>
                                                               <tr>
                                                                  <td height="30"></td>
                                                               </tr>
                                                            </table>
                                                         </td>
                                                      </tr>
                                                      <tr>
                                                         <td>
                                                            <table border="0" cellspacing="0" cellpadding="0" align="center" width="100%">
                                                               <tr>
                                                                  <td height="27"></td>
                                                               </tr>
                                                               <tr>
                                                                  <td align="center" style="color:#757575;font-family:&quot;Roboto&quot;,OpenSans,&quot;Open Sans&quot;,Arial,sans-serif;font-size:17px;font-weight:normal;line-height:24px;margin:0;padding:0 25px 0 25px;text-align:center">Replies to this email aren&#39;t monitored, but if you have a question try the <a href="https://oncl.herokuapp.com/help/" style="color:#4285f4;text-decoration:underline" target="_blank" data-saferedirecturl="https://oncl.herokuapp.com/help/">Help Center</a> where my team and other expert users answer questions.</td>
                                                               </tr>
                                                               <tr>
                                                                  <td height="25"></td>
                                                               </tr>
                                                               <tr>
                                                                  <td align="center" style="color:#757575;font-family:&quot;Roboto&quot;,OpenSans,&quot;Open Sans&quot;,Arial,sans-serif;font-size:17px;font-weight:normal;line-height:24px;margin:0;padding:0 25px 0 25px;text-align:center">Enjoy your new account,</td>
                                                               </tr>
                                                               <tr>
                                                                  <td align="center" style="color:#757575;font-family:&quot;Roboto&quot;,OpenSans,&quot;Open Sans&quot;,Arial,sans-serif;font-size:17px;font-weight:normal;line-height:24px;margin:0;padding:0 25px 0 25px;text-align:center">
                                                                     OnCl Community Team
                                                                  </td>
                                                               </tr>
                                                               <tr>
                                                                  <td height="35"></td>
                                                               </tr>
                                                               <tr>
                                                                  <td width="134" height="46" align="center" style="font-size:8px">
                                                                     <a href="https://oncl.herokuapp.com/" target="_blank" style="color:#4285f4;text-decoration:underline" target="_blank" data-saferedirecturl="https://oncl.herokuapp.com/">
                                                                        <img width="134" height="46" border="0" src="https://oncl.herokuapp.com/static/oncl_app/OnCl.png" alt="OnCl" style="width:250px;height:46px;text-align:center;border:none">
                                                                     </a>
                                                                  </td>
                                                               </tr>
                                                               <tr>
                                                                  <td height="31"></td>
                                                               </tr>
                                                               <tr>
                                                                  <td height="19" bgcolor="#eeeeee" style="background:#eeeeee"></td>
                                                               </tr>
                                                               <tr>
                                                                  <td valign="middle" style="background:#eee;color:#777;font-family:&quot;Roboto&quot;,OpenSans,&quot;Open Sans&quot;,Arial,sans-serif;font-size:10px;font-weight:normal;line-height:14px;margin:0;padding:0 6px 0 6px;text-align:center" align="center">
                                                                     <span style="font-size:inherit;color:inherit;font-weight:inherit;line-height:inherit;font-family:inherit">Apache License Version 2.0 2021 OnCl - Edu. Cloud, Andhra Pradesh, India .</span>
                                                                       <br>
                                                                       This email was sent to you because you created a OnCl Account.
                                                                  </td>
                                                               </tr>
                                                            </table>
                                                         </td>
                                                      </tr>
                                                      <tr>
                                                         <td height="18" bgcolor="#eeeeee" style="background:#eeeeee"></td>
                                                      </tr>
                                                   </table>
                                                </td>
                                                <td width="20" bgcolor="#eeeeee" style="background:#eeeeee"></td>
                                             </tr>
                                          </table>
                                          <div style="display:none;white-space:nowrap;font:15px courier;line-height:0"></div>
                                       </center>
                                    </font>
                                 </div>
                              </table>
                           </table>
                        </div>
                     </div>
                  </body>
               </html>