@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body{
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;
  letter-spacing: 0;
  padding: 0px;
  margin: 0px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

.content {
  padding: 5rem 0 0 0;
}

.heading {
  font-size: 2.5rem;
  font-weight: 900;
}

.form-control {
  border: 2px solid #e0e0e0;
  background: #f3f3f3;
}

.form-control:active, .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
  background: #f3f3f3;
}

.form-control {
  height: 50px;
}

.btn {
  border: none;
  border-radius: 4px !important;
}

.btn.btn-primary {
  background: #000;
  color: #fff;
}

.btn:hover {
  color: #fff;
}

.btn:active, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #212121;
}

a {
  text-decoration: none;
  font-weight: bolder;
}

#message, #messagename, #messageemail, #messagesubject {
  display:none;
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalidname {
  color: #ff6347;
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
}

.invalidname:before {
  position: relative;
  content: "Are you sure you entered your name correctly?";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalidemail {
  color: #ff6347;
    font-family: 'Varela Round', sans-serif;
  font-weight: 700;
}

.invalidemail:before {
  position: relative;
  content: "Are you sure you entered your email correctly?";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalidsubject {
  color: #ff6347;
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
}

.invalidsubject:before {
  position: relative;
  content: "Please enter a sensible subject!";
  font-family: 'Varela Round', sans-serif;
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: #ff6347;
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
}

.invalid:before {
  position: relative;
  content: "Please provide the message in a elobrative way!";
  font-family: 'Varela Round', sans-serif;
}