{% extends "oncl_app/admin_base.html" %}

{% block content %}

{% load static %}

<title>Academic Statistics | OnCl - Edu. Cloud</title>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
<style>
a {
    font-weight: bolder;
}

.dv_class {
    text-align: center; 
    margin: 10px;
    font-size: x-large;
}
   @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

  .starter-template {
      padding: 3rem 1.5rem 0.5rem 1.5rem;
      text-align: center;
  }
  .display-1{
    font-size:calc(1.625rem + 4.5vw);
    font-weight:300;
    line-height:1.2;
    color: #039be5;
    font-family: 'Montserrat', sans-serif;
  }
        
  @media (min-width:1200px){
    .display-1{
        font-size: 3rem;
    }
  }

  .text_bold {
      font-weight: 500;
      font-family: 'Fredoka One', cursive;
  }
</style>

<!-- <div style="font-weight: bolder; color: #FFF; background-color: #4fc3f7; margin: 20px; padding: 10px; border-radius: 5px; display: flex; flex-direction: row; flex-wrap: wrap; align-content: space-between; justify-content: space-evenly; align-items: center;">
<h5><b>Branches Abbreviation</b></h5>
    <p>CSE: Computer Science and Engineering &nbsp;</p>
    <p>CE: Chemical Engineering &nbsp;</p>
    <p>AE: Aerospace/Aeronautical Engineering &nbsp;</p>
    <p>CE: Civil Engineering &nbsp;</p>
    <p>EE: Electrical/Electronic Engineering &nbsp;</p>
    <p>ME: Mechanical Engineering &nbsp;</p>
    <p>ECE: Electronics and Communication Engineering &nbsp;</p>
</div> -->

<body onload="startTime()">
    <div style="text-align: center;">
        <div id="alertMessage">
            <label id="lblGreetings"></label>
        </div>    
        <div id="alertMessage3">
            <div id="txt"></div>
            <div id="txt1"></div>
        </div>
    </div>
</body>

<div style="margin-top: 5%; display: flex; flex-direction: row; flex-wrap: wrap; align-content: center; justify-content: space-around; align-items: center;">
    <div style="padding: 20px;">
        <canvas id="staff_student_count" width="400" height="400"></canvas>
        <div class="dv_class"><p for="staff_student_count"><b>Faculty - Student Ratio</b></p></div>
    </div>
    <div style="padding: 20px;">
        <canvas id="gender_student_count" width="400" height="400"></canvas>
        <div class="dv_class"><p for="gender_student_count"><b>Student - Gender Ratio</b></p></div>
    </div>
    <div style="padding: 20px;">
        <canvas id="total_counts" width="400" height="400"></canvas>
        <div class="dv_class"><p for="total_counts"><b>Coures in Branch Info.</b></p></div>
    </div>
</div>

<div style="margin-top: 5%; display: flex; flex-direction: row; flex-wrap: wrap; align-content: center; justify-content: space-around; align-items: center;">
    <div style="padding: 20px;">
        <canvas id="branch_student_count" width="400" height="400"></canvas>
        <div class="dv_class"><p for="branch_student_count"><b>Students in each Branch</b></p></div>
    </div>
    <div style="padding: 20px;">
        <canvas id="branch_faculty_count" width="400" height="400"></canvas>
        <div class="dv_class"><p for="branch_faculty_count"><b>Faculty in each Branch</b></p></div>
    </div>
    <div style="padding: 20px;">
        <canvas id="student_faculty_leave_count" width="400" height="400"></canvas>
        <div class="dv_class"><p for="student_faculty_leave_count"><b>Faculty - Student Leave Info.</b></p></div>
    </div>
</div>
<br>
<br>
<br>
<br>
<div id="Check_Issues" style="text-align: center; margin-bottom: 50px;">
<h1> <span style="font-family: 'Oswald', sans-serif;">Institute Analtics Reports</span> | <b><span class="text_bold" style="color: tomato;">O</span><span class="text_bold" style="color: #5f95eb;">n</span><span class="text_bold" style="color: #76e989;">C</span><span class="text_bold" style="color: #fcc834">l</span> <span class="text_bold">- Edu. Cloud</span></b></h1>
{% if staff_count_15 >= student_count %}
<h5 style="margin-top: 20px;">No issues found in Faculty - Student Ratio. Everything is Fine!</h5>
{% else %}
<h4 style="margin-top: 20px;">Student - Faculty Ratio is Not Good. So, Increase Faculty Strength!</h4>
{% endif %}
{% if staff_leave_count > student_leave_count %}
<h4 style="margin-top: 20px;">Faculty are taking more leaves which effects on students education.</h4>
{% else %}
<h5 style="margin-top: 20px;"> No issues found in Faculty Leaves. Everything is Fine!</h5>
{% endif %}
</div>

<script>
    $(function(){
  //   $('#alertMessage').hide().delay(500).fadeIn(1100);
    $('#alertMessage2').hide().delay(1000).fadeIn(1100);
    $('#alertMessage3').hide().delay(1500).fadeIn(1100);
    });

  function startTime() {
  var d = new Date();

  var date_ = d.getDate();
  var year_ = d.getFullYear();
  var weekday = new Array(7);
  weekday[0] = "Sunday";
  weekday[1] = "Monday";
  weekday[2] = "Tuesday";
  weekday[3] = "Wednesday";
  weekday[4] = "Thursday";
  weekday[5] = "Friday";
  weekday[6] = "Saturday";

  var weekday_ = weekday[d.getDay()];

  var month = new Array();
  month[0] = "January";
  month[1] = "February";
  month[2] = "March";
  month[3] = "April";
  month[4] = "May";
  month[5] = "June";
  month[6] = "July";
  month[7] = "August";
  month[8] = "September";
  month[9] = "October";
  month[10] = "November";
  month[11] = "December";

  var month_ = month[d.getMonth()];

  var h = d.getHours();
  var m = d.getMinutes();
  var s = d.getSeconds();
  m = checkTime(m);
  s = checkTime(s);
  document.getElementById('txt').innerHTML =
  '<h5>' + month_ + " " + date_ + " " + weekday_ + ", " + " " + year_ + '</h5>';
  document.getElementById('txt1').innerHTML =
  '<h5>' + h + ":" + m + ":" + s + '</h5>';
  var t = setTimeout(startTime, 500);
  }
  function checkTime(i) {
  if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
  return i;
  }

  var _date = new Date();
  var hrs = _date.getHours();
  var greet;

  if (hrs >= 0 && hrs < 12) {
      greet = 'Good Morning';
  }
  else if (hrs >= 12 && hrs < 17) {
      greet = 'Good Afternoon';
  }
  else {
      greet = 'Good Evening';
  }
  
  document.getElementById('lblGreetings').innerHTML =
      '<main role="main" class="container">'+
      '<div class="starter-template">'+
      '<h1 class="display-1"> ' + greet + '!</h1>'+
      '<div id="alertMessage2">'+
        '<h5><b>Welcome to <span class="text_bold" style="color: tomato;">O</span><span class="text_bold" style="color: #5f95eb;">n</span><span class="text_bold" style="color: #76e989;">C</span><span class="text_bold" style="color: #fcc834">l</span> <span class="text_bold">- Edu. Cloud</span></b> </h5>'+
        {% if staff_count_15 >= student_count %}
        '<h3 style="color:#76e989;"><b>Everything Sounds Good!</b><a href="#Check_Issues" style="text-decoration:none;"> <i class="fas fa-info-circle"></i></a></h3>'+    
        {% else %}
        '<h3 style="color:#ec407a;"><b>Something Not Right!</b><a href="#Check_Issues" style="text-decoration:none;"> <i class="fas fa-info-circle"></i></a></h3>'+
        {% endif %}
      '</div>'+
      '</div>'+
      '</main>';

      function refreshAt(hours, minutes, seconds) {
          var now = new Date();
          var then = new Date();

          if(now.getHours() > hours ||
          (now.getHours() == hours && now.getMinutes() > minutes) ||
              now.getHours() == hours && now.getMinutes() == minutes && now.getSeconds() >= seconds) {
              then.setDate(now.getDate() + 1);
          }
          then.setHours(hours);
          then.setMinutes(minutes);
          then.setSeconds(seconds);

          var timeout = (then.getTime() - now.getTime());
          setTimeout(function() { 
              window.location.reload(true); 
          }, timeout);
      }

      $(document).ready(function() {
          refreshAt(12,00,00);
          refreshAt(17,00,00);
          refreshAt(00,00,00);
      });
</script>

<script>
var branch_list = {{ branch_list|safe }};
var subject_count_list = {{ subject_count_list }};
var ctx = document.getElementById('total_counts').getContext('2d');
var total_counts = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: branch_list,
        datasets: [{
            data: subject_count_list,
            backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(32, 201, 151)',
            'rgb(255, 205, 86)',
            'rgb(39, 39, 39)',
            'rgb(149, 117, 205)',
            'rgb(16, 55, 152)'
            ],
        }]
    },
    options: {
        responsive: true,
     },
});

var ctx = document.getElementById('staff_student_count').getContext('2d');
var staff_student_count = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['Faculty', 'Student'],
        datasets: [{
            data: [{{staff_count}},{{student_count}}],
            backgroundColor: [
            'rgb(54, 162, 235, 0.2)',
            'rgb(32, 201, 151, 0.2)'
            ],
            borderColor: [
            'rgb(54, 162, 235)',
            'rgb(32, 201, 151)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
     },
});

var ctx = document.getElementById('gender_student_count').getContext('2d');
var gender_student_count = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['Female', 'Male'],
        datasets: [{
            data: [{{female_count}},{{male_count}}],
            backgroundColor: [
            'rgb(255, 99, 132, 0.2)',
            'rgb(54, 162, 235, 0.2)'
            ],
            borderColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
     },
});

var ctx = document.getElementById('branch_student_count').getContext('2d');
var branch_student_count = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: branch_list,
        datasets: [{
            label: '#Students in each Branch',
            data: {{values}},
            backgroundColor: [
            'rgb(255, 99, 132, 0.2)',
            'rgb(54, 162, 235, 0.2)',
            'rgb(32, 201, 151, 0.2)',
            'rgb(255, 205, 86, 0.2)',
            'rgb(39, 39, 39, 0.2)',
            'rgb(149, 117, 205, 0.2)',
            'rgb(152, 249, 250, 0.2)'
            ],
            borderColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(32, 201, 151)',
            'rgb(255, 205, 86)',
            'rgb(39, 39, 39)',
            'rgb(149, 117, 205)',
            'rgb(0, 0, 0)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

var ctx = document.getElementById('branch_faculty_count').getContext('2d');
var branch_faculty_count = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: branch_list,
        datasets: [{
            label: '#Faculty in each Branch',
            data: {{values2}},
            backgroundColor: [
            'rgb(255, 99, 132, 0.2)',
            'rgb(54, 162, 235, 0.2)',
            'rgb(32, 201, 151, 0.2)',
            'rgb(255, 205, 86, 0.2)',
            'rgb(39, 39, 39, 0.2)',
            'rgb(149, 117, 205, 0.2)',
            'rgb(152, 249, 250, 0.2)'
            ],
            borderColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(32, 201, 151)',
            'rgb(255, 205, 86)',
            'rgb(39, 39, 39)',
            'rgb(149, 117, 205)',
            'rgb(0, 0, 0)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

var ctx = document.getElementById('student_faculty_leave_count').getContext('2d');
var student_faculty_leave_count = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['Faculty Leaves', 'Student Leaves'],
        datasets: [{
            data: [{{staff_leave_count}},{{student_leave_count}}],
            backgroundColor: [
            'rgb(32, 201, 151, 0.2)',
            'rgb(255, 205, 86, 0.2)',
            ],
            borderColor: [
            'rgb(32, 201, 151)',
            'rgb(255, 205, 86)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
     },
});
</script>

{% endblock %}