<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Courses</title>
    <style>
    table, th, td {
        border: 1px solid black;
    }
    </style>
</head>
<body>
    {% for i in branch_semester_subjects %}
        <a href="{% url 'view_each_subject' i.id %}">{{i}}</a>        
            {{i.subject}}
    {% endfor %}

    <h1>My Registered Courses</h1>
    {% for i in registered_courses %}
    {{i.subject}}
    <br>
    {% endfor %}

</body>
</html>