{% extends "oncl_app/admin_base.html" %}

{% block content %}

{% load static %}

<title>Manage Branch | OnCl - Edu. Cloud</title>

<style>
a {
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

body {
  line-height: 1.25;
}

table {
  border: 2px solid #6c757d87;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #FFF;
  border: 1px solid #6c757d87;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  background-color: #6c757d87;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #6c757d87;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #6c757d87;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

.edit_button {
    color: #fcc834;
}

.delete_button {
    color: #F1615C;
}

@media only screen and (min-width: 601px) {
    .outlined {
        border-left: 2px solid var(--gray);
    }
}

.img-container {
  text-align: center;
}
</style>

{% if branches.count == 0 %}
<div class="img-container" onclick="document.location='{% url 'add_branch' %}'" style="cursor: pointer; padding-top: 40px;">
  <img src="{% static 'oncl_app/no_branches.png' %}" style="max-height: 30rem;" alt="no_branch" class="img-fluid">
</div>
<div style="text-align: center; font-weight: bold; font-size: 1.4rem;">
  <p><i class="fas fa-info-circle"></i> No Branch Created Yet!</p>
</div>

{% else %}

{% if request.user.is_staff %}
<div style="padding: 30px 0px 10px 10px;">
    <div onclick="document.location='{% url 'add_branch' %}'" class="login_button" style="border-style: solid; border-width: 2px; border-color: #F1615C #4285f4 #fcc834 #76e989; cursor: pointer;color: #ffffff; display: inline-flex; background-color: #ffffff; padding: 10px; border-radius: 5px;">
        <a href="#" style="text-decoration: none; color: #000;"><i class="fas fa-code-branch"></i> Add Branch</a>
    </div>
</div>
{% endif %}
<div style="padding: 10px;">
    <table>
        <thead>
          <tr>
            <th scope="col">Semester</th>
            <th scope="col">Branch</th>
            {% if request.user.is_staff %}
            <th scope="col">Action</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
        {% endif %}
        {% for branch in branches %}
          <tr>
            <td data-label="Semester">{{ branch.semester }}</td>
            <td data-label="Branch">{{ branch.branch }}</td>
            {% if request.user.is_staff %}
            <td data-label="Action" class="outlined">
                <a class="edit_button" href="{% url 'edit_branch' branch.id %}"><i class="fas fa-edit"></i> Edit</a> &nbsp;
                <a class="delete_button" href="{% url 'delete_branch' branch.id %}"><i class="fas fa-trash"></i> Delete</a>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function add_branch(){
        window.location.replace("{% url 'add_branch' %}");
    }
</script>

{% endblock %}
