{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Theme Color above the Navbar in Mobile Phones -->
	<meta name="theme-color" content="#F1615C">
	<title> Password Reset | OnCl Account </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="apple-touch-icon" href="{% static 'oncl_app/OnCl Logo [Background Removed].png' %}" type="image/icon type">
	<link rel="icon" href="{% static 'oncl_app/OnCl Logo [Background Removed].png' %}" type="image/icon type">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'oncl_app/login_register/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'oncl_app/login_register/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'oncl_app/login_register/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'oncl_app/login_register/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'oncl_app/login_register/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'oncl_app/login_register/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'oncl_app/login_register/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'oncl_app/login_register/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'oncl_app/login_register/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'oncl_app/login_register/css/main.css' %}">
<!--===============================================================================================-->
<script src="https://kit.fontawesome.com/982d9630c6.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
<!--===============================================================================================-->

<style>
/* Styles for Navbar */
.bg-light {
    background-color: #ffffff!important;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}
@media (min-width: 992px){
.external-collapse.navbar-collapse {
	display: -webkit-box!important;
	display: -ms-flexbox!important;
	display: flex!important;
}
}

@media screen and (min-width: 376px){
.header_img {
	height: 30px;
	width: 30px;
	margin-bottom: 5px;
}
}

@media screen and (max-width: 376px){
.header_img {
	height: 25px;
	width: 25px;
	margin-bottom: 5px;
}
}

@media screen and (min-width: 400px){
.header_title {
	font-size: 25px;
}
}

@media screen and (max-width: 376px){
.header_title {
	font-size: 21px;
}
}
@media screen and (min-width: 376px){
	.header_img {
		height: 30px;
		width: 30px;
		margin-bottom: 5px;
	}
}

@media screen and (max-width: 376px){
	.header_img {
		height: 25px;
		width: 25px;
		margin-bottom: 5px;
	}
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

li {
	font-weight: 700;
}

#message {
  display:none;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
  font-family: Raleway-Regular;
}

.valid:before {
  position: relative;
  left: -10px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: #ff6347;
  font-family: Raleway-Regular;
}

.invalid:before {
  position: relative;
  left: -10px;
  content: "✖";
}
</style>
</head>
<body>

	<nav class="navbar sticky-top navbar-light bg-light" style="padding: 18px;">
		<a href="/" class="navbar-brand">
			<img class="header_img" src="{% static 'oncl_app/OnCl Logo.gif' %}" alt="OnCl Logo">
			<span style="font-weight: 500; font-family: 'Fredoka One', cursive; color: #3c4043; font-size: 1.6rem;">
			  <span style="color: tomato;">O</span><span style="color: #5f95eb;">n</span><span style="color: #76e989;">C</span><span style="color: #fcc834">l</span> - Edu. Cloud
			</span>
		</a>
	</nav>
	
	<div class="limiter">
		<div class="container-login100">
            <main role="main" class="container">
                <div class="starter-template">
                    <h1>Set New Password.</h1>
                    <p class="lead" style="text-transform: capitalize;">Please enter your new password twice so we can verify you typed it in correctly.
                        <ul>
                            <li>Your password can’t be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can’t be a commonly used password.</li>
                            <li>Your password can’t be entirely numeric.</li>
                        </ul>
                    </p>
                </div>
            </main>
			<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
				<form class="login100-form validate-form flex-sb flex-w" method="POST" action="">
					{% csrf_token %}
					<span class="login100-form-title p-b-32">
						<img class="header_img" src="{% static 'oncl_app/OnCl Logo.gif' %}" class="d-inline-block align-top img-fluid" alt="OnCl Logo">&nbsp;Reset Password
					</span>

                    <span class="txt1 p-b-11">
						<i class="fas fa-key"></i>&nbsp;New Password
					</span>
					<div class="wrap-input100 validate-input m-b-12" data-validate = "Password is required">
						<span class="btn-show-pass">
							<i class="fa fa-eye"></i>
						</span>
						<input class="input100" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" placeholder="Password">
						<span class="focus-input100"></span>
					</div>

					<div class="flex-sb-m w-full p-b-25">
						<div id="message">
							<p class="txt3">
								Your Password must contain the following:
								<p id="letter" class="invalid">A <b>lowercase</b> letter</p>
								<p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
								<p id="number" class="invalid">A <b>number</b></p>
								<p id="length" class="invalid">Minimum <b>8 characters</b></p>
								<p id="special" class="invalid">A <b>special characters</b></p>
							</p>
						</div>
					</div>

					<span class="txt1 p-b-11">
						<i class="fas fa-key"></i>&nbsp;New Password Confirm
					</span>
					<div class="wrap-input100 validate-input m-b-12" data-validate = "Password is required">
						<span class="btn-show-pass">
							<i class="fa fa-eye"></i>
						</span>
						<input class="input100" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" placeholder="Confirm Password">
						<span class="focus-input100"></span>
					</div>
					<div class="flex-sb-m w-full p-b-20">
						<div>
							<p class="txt3">
								<span id='message2'></span>
							</p>
						</div>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit" value="Submit" name="Update Password">
							<i class="fas fa-lock"></i>&nbsp;Update
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="{% static 'oncl_app/login_register/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'oncl_app/login_register/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'oncl_app/login_register/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'oncl_app/login_register/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'oncl_app/login_register/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'oncl_app/login_register/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'oncl_app/login_register/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'oncl_app/login_register/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'oncl_app/login_register/js/main.js' %}"></script>

	<script>
		var myInput = document.getElementById("id_new_password1");
		var letter = document.getElementById("letter");
		var capital = document.getElementById("capital");
		var number = document.getElementById("number");
		var length = document.getElementById("length");
		var special = document.getElementById("special");
		
		// When the user clicks on the password field, show the message box
		myInput.onfocus = function() {
		  document.getElementById("message").style.display = "block";
		}
		
		// When the user clicks outside of the password field, hide the message box
		myInput.onblur = function() {
		  document.getElementById("message").style.display = "none";
		}
		
		// When the user starts to type something inside the password field
		myInput.onkeyup = function() {
		  // Validate lowercase letters
		  var lowerCaseLetters = /[a-z]/g;
		  if(myInput.value.match(lowerCaseLetters)) {  
			letter.classList.remove("invalid");
			letter.classList.add("valid");
		  } else {
			letter.classList.remove("valid");
			letter.classList.add("invalid");
		  }
		  
		  // Validate capital letters
		  var upperCaseLetters = /[A-Z]/g;
		  if(myInput.value.match(upperCaseLetters)) {  
			capital.classList.remove("invalid");
			capital.classList.add("valid");
		  } else {
			capital.classList.remove("valid");
			capital.classList.add("invalid");
		  }
		
		  // Validate numbers
		  var numbers = /[0-9]/g;
		  if(myInput.value.match(numbers)) {  
			number.classList.remove("invalid");
			number.classList.add("valid");
		  } else {
			number.classList.remove("valid");
			number.classList.add("invalid");
		  }
		  
		  // Validate length
		  if(myInput.value.length >= 8) {
			length.classList.remove("invalid");
			length.classList.add("valid");
		  } else {
			length.classList.remove("valid");
			length.classList.add("invalid");
		  }

		  // Validate Special Character
		  var specialCharacter = /[!@#$%^&*]/g;
		  if(myInput.value.match(specialCharacter)) {  
			special.classList.remove("invalid");
			special.classList.add("valid");
		  } else {
			special.classList.remove("valid");
			special.classList.add("invalid");
		  }
		}

		$('#id_new_password1, #id_new_password2').on('keyup', function () {
		if ($('#id_new_password1').val() == $('#id_new_password2').val()) {
			$('#message2').html('<i class="fas fa-check-circle"></i> Password is Matched.').css('color', 'green');
		} else 
			$('#message2').html('<i class="fas fa-exclamation-triangle"></i> Password is Not Matching!').css('color', '#ff6347');
		});
	</script>

</body>
</html> 