{% extends "oncl_app/admin_base.html" %}

{% block content %}

{% load static %}

{% load humanize %}

<title>Search Result - Faculty Info.</title>

<style>
a {
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

body {
  line-height: 1.25;
}

table {
  border: 2px solid #6c757d87;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #FFF;
  border: 1px solid #6c757d87;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  background-color: #6c757d87;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #6c757d87;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #6c757d87;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

.edit_button {
    color: #fcc834;
}

.delete_button {
    color: #F1615C;
}

@media only screen and (min-width: 601px) {
    .outlined {
        border-left: 2px solid var(--gray);
    }
}

.search_bar_custom {
  display: flex;
  justify-content: space-around;
  padding: 50px 0 50px 0;
} 
</style>

<link rel="stylesheet" href="{% static 'oncl_app/main.css' %}">

<script src="https://kit.fontawesome.com/f64de7b412.js" crossorigin="anonymous"></script>
<div class="search_bar_custom">
    <div class="content">
    <form method="POST" action="/search_faculty">
      <div class="search">
        {% csrf_token %}
        <input type="text" class="search__input" aria-label="search" name="search" required placeholder="Search Faculty Info...">
        <button type="submit" class="search__btn" aria-label="submit search"><i class="fas fa-search"></i></button>
      </div>
    </form>
    </div>
</div>

<div style="text-align: center; font-weight: bolder;">
    {% if staffs.count == 0 %}
    <p>It looks like there aren't many great matches for your search</p>
    <p>Tip: Try using words that might appear on the book that you’re looking for. For example, 'Faculty Name', 'Any related keywords of the Faculty'.</p>
    {% else %}
    <p>About {{ staffs.count|intcomma }} result{{ staffs.count|pluralize:"s" }} ({{cal_time}}) seconds </p>
    {% endif %}
</div>

{% if staffs.count == 0 %}

{% else %}
<div style="padding: 30px 10px 10px 10px; display: flex; justify-content: space-between;">
  <div class="login_button" style="border-style: solid; border-width: 2px; border-color: #F1615C #4285f4 #fcc834 #76e989; cursor: pointer;color: #ffffff; display: inline-flex; background-color: #ffffff; padding: 10px; border-radius: 5px;">
      <a href="{% url 'add_staff' %}" style="text-decoration: none; font-size: 1rem; color: #000;"><i class="fas fa-chalkboard-teacher"></i> Add Faculty</a>
  </div>
  <div onclick="exportTableToCSV('Faculty_Info.csv')" class="login_button" style="border-style: solid; border-width: 2px; border-color: #F1615C #4285f4 #fcc834 #76e989; cursor: pointer;color: #ffffff; display: inline-flex; background-color: #ffffff; padding: 10px; border-radius: 5px;">
    <span style="text-decoration: none; font-size: 1rem; color: #000;"><b>Export <i class="fas fa-file-csv"></i> File</b></span>
  </div>
</div>

<div style="padding: 10px;">
    <table>
        <thead>
          <tr>
            <th scope="col">University ID</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Gender</th>
            <th scope="col">Address</th>
            <th scope="col">Last Login</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        {% endif %}
        {% for staff in staffs %}
        <tbody>
          <tr>
            <td data-label="University ID">{{ staff.user.username }}</td>
            <td data-label="First Name">{{ staff.user.last_name|title }} {{staff.user.first_name|title }}</td>
            <td data-label="Email"><a href="mailto:{{ staff.user.email }}">{{ staff.user.email }}</a></td>
            <td data-label="Gender">{{ staff.gender }}</td>
            <td data-label="Address">{{ staff.city_name }}</td>
            <td data-label="Last Login"> {% if staff.user.last_login == None %} User Not Logged Yet! {% else %} {{ staff.user.last_login }} {% endif %}</td>
            <td data-label="Action" class="outlined">
              <a href="{% url 'view_staff' staff.user.id %}" target="_blank"><i class="fas fa-eye"></i> View</a> &nbsp; <br>
                <a class="edit_button" href="{% url 'edit_staff' staff.user.id %}"><i class="fas fa-edit"></i> Edit</a> &nbsp; <br>
                <a class="delete_button" href="{% url 'delete_staff' staff.user.id %}"><i class="fas fa-trash"></i> Delete</a>
            </td>
          </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

<script>
  function exportTableToCSV(filename) {
    var csv = [];
    var rows = document.querySelectorAll("table tr");
    
    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll("td, th");
        
        for (var j = 0; j < cols.length; j++) 
            row.push(cols[j].innerText);
        
        csv.push(row.join(","));        
    }

    // Download CSV file
    downloadCSV(csv.join("\n"), filename);
}

function downloadCSV(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV file
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // Create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Hide download link
    downloadLink.style.display = "none";

    // Add the link to DOM
    document.body.appendChild(downloadLink);

    // Click download link
    downloadLink.click();
}
</script>

{% endblock %}