{% extends 'oncl_app/task/main.html' %}
{% block content %}

<div class="header-bar">
    <a style="text-decoration: none;" href="{% url 'tasks' %}"><i class="fas fa-arrow-left"></i>&nbsp; <b>Back</b></a>
</div>


<div class="card-body">
    <form method="POST" action="">
        {% csrf_token %}
        Title
        <input type="text" name="title" value={{task.title}} maxlength="200" required id="id_title">
        Description
        <textarea name="description" cols="40" rows="10" id="id_description">{{task.description}}</textarea>
        Status
        {{form.complete}}
        <button class="submit_button" type="submit"><i class="fas fa-check-circle"></i>&nbsp;Submit</button>
    </form>
</div>


{% endblock content %}