{% extends 'oncl_app/task/main.html' %}
{% block content %}

<div class="header-bar">
    <a style="text-decoration: none;" href="{% url 'tasks' %}"><i class="fas fa-arrow-left"></i>&nbsp; <b>Back</b></a>
</div>


<div class="card-body">
    <form method="POST" action="">
        {% csrf_token %}
        <!-- {{form.as_p}} -->
        <table>
            {{ form }}
        </table>
        <button class="submit_button" type="submit"><i class="fas fa-check-circle"></i>&nbsp;Submit</button>
    </form>
</div>


{% endblock content %}