{% extends "oncl_app/admin_base.html" %}

{% block content %}
	<title>Admin Dashboard | OnCl - Edu. Cloud</title>

	{% include 'oncl_app/welcome_text.html' %}

	<div class="main">
		<ul class="cards">
		<li class="cards_item" onclick="document.location='{% url 'manage_student' %}'">
			<div class="card">
				<div class="card_icon"><span style="font-size: 95px; color: #607d8b; margin: 10% 0 12.5px 0;" class="fas fa-user-graduate"></span></div>
				<div class="card_content" style="background: linear-gradient(to bottom left, #b0bec5 40%, #FFFFFF 100%);">
			   		<h2 class="card_title">Manage Student Info.</h2>
			   		<p class="card_text">View the <b>registered student info.</b> which they given the confidential data which is given by them under their parents/Guardian presence.</p>                
			 	</div>
		   </div>
		</li>
		<li class="cards_item" onclick="document.location='{% url 'manage_staff' %}'">
			<div class="card">
				<div class="card_icon"><span style="font-size: 95px; color: #ec407a; margin: 10% 0 12.5px 0;" class="fas fa-chalkboard-teacher"></span></div>
				<div class="card_content" style="background: linear-gradient(to bottom left, #f8bbd0 40%, #FFFFFF 100%);">
			   		<h2 class="card_title">Manage Faculty Info.</h2>
			   		<p class="card_text">View the <b>recruited faculty info.</b> which they given the confidential data which is given by them under their presence.</p>                
			 	</div>
		   </div>
		</li>
		  <li class="cards_item" onclick="document.location='{% url 'view_session' %}'">
			<div class="card">
			  <div class="card_icon"><span style="font-size: 100px; color: #4285f4; margin-top: 10%;" class="material-icons"> video_library </span></div>
			  <div class="card_content" style="background: linear-gradient(to bottom left, #bbdefb 40%, #FFFFFF 100%);">
				<h2 class="card_title">Course Sessions E - Cloud</h2>
				<p class="card_text">Use the <b>Course Sessions  E - Cloud</b> to view your course classes which 're happened in past & you can also <i class="fas fa-share-alt-square"></i> with your <i class="fas fa-user-friends"></i> friends.</p>                
			  </div>
			</div>
		  </li>
		  <li class="cards_item" onclick="document.location='{% url 'view_marks_admin' %}'">
			<div class="card">
			  <div class="card_icon"><span style="font-size: 100px; color: #fcc834; margin-top: 10%;" class="material-icons"> assignment </span></div>
			  <div class="card_content" style="background: linear-gradient(to bottom left, #f8e096 40%, #FFFFFF 100%);">
				<h2 class="card_title">Assignments & Exams</h2>
				<p class="card_text"><b>Assignments & Exams</b> Provides instant result after completion of exam. And can be accessed from anywhere in the <i class="fas fa-globe-asia"></i> world.</p>                
			  </div>
			</div>
		  </li>
		  <li class="cards_item" onclick="document.location='{% url 'timetable' %}'">
			<div class="card">
			  <div class="card_icon"><span style="font-size: 100px; color: #76e989; margin-top: 10%;" class="material-icons"> today </span></div>
			  <div class="card_content" style="background: linear-gradient(to bottom left, #c8e6c9 40%, #FFFFFF 100%);">
				<h2 class="card_title">Timetable & Schedule</h2>
				<p class="card_text">Use <b>Timetable & Schedule</b> to know exactly when a specific subject is scheduled & also establishes a natural rhythm and <i class="far fa-calendar-alt"></i> routine.</p>                
			  </div>
			</div>
		  </li>
		  <li class="cards_item" onclick="document.location='{% url 'index' %}'">
			<div class="card">
			  <div class="card_icon"><span style="font-size: 100px; color: #ba68c8; margin-top: 10%;" class="material-icons"> code </span></div>
			  <div class="card_content" style="background: linear-gradient(to bottom left, #e1bee7 40%, #FFFFFF 100%);">
				<h2 class="card_title">Programming Compiler</h2>
				<p class="card_text">Use <b>Programming Compiler</b> for practicing of Programming and increase your coding skills. And You can even download your <i class="fas fa-code"></i> code.</p>                
			  </div>
			</div>
		  </li>
		  <li class="cards_item" onclick="document.location='{% url 'manage_announcement' %}'">
			<div class="card">
			  <div class="card_icon"><span style="font-size: 100px; color: #F1615C; margin-top: 10%;" class="material-icons"> campaign </span></div>
			  <div class="card_content" style="background: linear-gradient(to bottom left, #f8bbd0 40%, #FFFFFF 100%);">
				<h2 class="card_title">News & Announcements</h2>
				<p class="card_text">Informing you about the changing events, issues, and characters in the Institution. And Completely aware of all <i class="fas fa-rss-square"></i> changes.</p>                
			  </div>
			</div>
		  </li>
		  <li class="cards_item" onclick="document.location='{% url 'view' %}'">
			<div class="card">
			  <div class="card_icon"><span style="font-size: 95px; color: #607d8b; margin: 10% 0 12.5px 0;" class="fas fa-swatchbook"></span></div>
			  <div class="card_content" style="background: linear-gradient(to bottom left, #bdbdbd 40%, #FFFFFF 100%);">
				<h2 class="card_title">E - Library</h2>
				<p class="card_text">Utilizing <b>E - Library</b> Provides you to access to books, journals, articles & any other info. and enjoy reading <i class="fas fa-swatchbook"></i> books.</p>                
			  </div>
			</div>
		  </li>
		</ul>
	</div>

{% endblock %}