<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCS Cloud | OnCl - Edu. Cloud</title>
</head>
<body>
    <h1> PCS - Cloud Working </h1>
    <a href="{% url 'pcs_cloud_create' %}"> Create Session</a>
    <table>
        <tr>
            <th>Items</th>
            <th>View</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {% for PCS_Cloud in sessions %}
        <tr>
            <th>{{ PCS_Cloud.course_name }}</th>
            <th><a href="{% url 'session' PCS_Cloud.id  %}"> Session View </a></th>
            <th><a href="{% url 'pcs_cloud_update' PCS_Cloud.id %}"> Session Update </a></th>
            <th><a href="{% url 'pcs_cloud_delete' PCS_Cloud.id %}"> Session Delete </a></th>
        </tr>
        {% empty %}
        <h3>No Items in the List</h3>
        {% endfor %}
    </table>
</body>
</html>