{% extends "oncl_app/admin_base.html" %}

{% block content %}

{% load static %}

{% load humanize %}

<title>PCS Cloud | OnCl - Edu. Cloud</title>

<style>
a {
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    text-decoration: none;
}
.search_bar_custom {
    display: flex;
    justify-content: space-around;
    padding: 50px 0 50px 0;
}
.img-container {
    text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* videos */

.videos {
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  border-top: 1px solid #ddd;
  overflow-y: scroll;
}

.videos__container {
  display: flex;

  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.video {
  width: 310px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 30px;
}

.video__thumbnail {
  width: 100%;
  height: 170px;
}

.video__thumbnail img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.author img {
  object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.video__details {
  display: flex;
  margin-top: 10px;
}

.title {
  display: flex;
  flex-direction: column;
}

.title h3 {
  color: rgb(3, 3, 3);
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 6px;
}

.title a, .cu_span {
  text-decoration: none;
  color: rgb(96, 96, 96);
  font-size: 14px;
}

h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(3, 3, 3);
}
</style>

<link rel="stylesheet" href="{% static 'oncl_app/main.css' %}">

{% if all_data_all.count == 0 %}
<div class="img-container"
{% for group_for in request.user.groups.all %}
{% if group_for.name == 'Admin' %}
onclick="document.location='{% url 'upload_session' %}'"
{% elif group_for.name == 'Faculty' %}
onclick="document.location='{% url 'upload_session' %}'"
{% else %}
{% endif %}
{% endfor %}
style="cursor: pointer;">
    <img src="{% static 'oncl_app/no_media_files_default.png' %}" style="max-height: 30rem;" alt="no_media_files_default" class="img-fluid">
</div>
<div style="text-align: center; font-weight: bold; font-size: 1.4rem;">
    <p><i class="fas fa-info-circle"></i> No Sessions Uploaded Yet!</p>
</div>

{% else %}
<script src="https://kit.fontawesome.com/f64de7b412.js" crossorigin="anonymous"></script>
<div class="search_bar_custom">
    <div class="content">
    <form method="POST" action="/search_session">
      <div class="search">
        {% csrf_token %}
        <input type="text" class="search__input" id="tags" aria-label="search" name="search" placeholder="Search Sessions..." required>
        <button type="submit" class="search__btn" aria-label="submit search"><i class="fas fa-search"></i></button>
      </div>
    </form>
    </div>
</div>
{% endif %}

<div style="margin: 0 auto; padding: 1rem;">
  {% if all_data_all.count == 0 %}
  {% else %}
  <div style="padding: 30px 0px 10px 10px;">
      <div onclick="document.location='{% url 'upload_session' %}'" class="login_button" style="border-style: solid; border-width: 2px; border-color: #F1615C #4285f4 #fcc834 #76e989; cursor: pointer;color: #ffffff; display: inline-flex; background-color: #ffffff; padding: 10px; border-radius: 5px;">
          <a href="#" style="text-decoration: none; color: #000;"><i class="fas fa-photo-video"></i> Add Session</a>
      </div>
  </div>
  {% endif %}

  <div class="mainBody">
    <div class="videos">
      <div class="videos__container">
        {% for session in data %}
        <div class="video" style="cursor: pointer;">
          <div class="video__thumbnail">
            <img src="{{session.session_pic.url}}" alt="Session Cover" />
          </div>
          <div class="video__details">
            <div class="author">
              <img alt="avatar" letters="{{session.session_author|first}}" />
            </div>
            <div class="title">
              <h3><b>{{session.session_name}}</b></h3>
              <a href="https://www.google.com/search?q={{session.session_author}}" target="_blank"> {{session.session_author}} </a>
              <span class="cu_span">{{session.session_pub_date}} • {{ session.session_pub_date|naturalday|title }}</span>
            </div>
          </div>
          <!-- <div style="display: flex; justify-content: space-between; background-color: #000;">
            <div>
              <a href="{{session.session_file.url}}"><i class="fas fa-download"></i> Session</a>
            </div>
            <div>
              {% for group_for in request.user.groups.all %} 
              {% if group_for.name == 'Admin' %}
              <a href="{% url 'edit_session' session.id %}"><i class="fas fa-edit"></i></a>
              <a href="{% url 'delete_session' session.id %}" style="color: #f44336;"><i class="far fa-trash-alt"></i></a>
              {% elif group_for.name == 'Faculty' %}
              {% if request.user.id == session.session_author_uid|add:"0" %}
              <a href="{% url 'edit_session' session.id %}"><i class="fas fa-edit"></i></a>
              <a href="{% url 'delete_session' session.id %}" style="color: #f44336;"><i class="far fa-trash-alt"></i></a>
              {% else %}
              {% endif %}
              {% else %}
              {% endif %}
              {% endfor %}
            </div>
          </div> -->
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% if data.has_other_pages %}
<nav aria-label="Pagination">
  <ul class="pagination">
    {% if data.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ data.previous_page_number }}">Previous</a>
    </li>
    {% endif %}
    {% for i in data.paginator.page_range %}
    {% if data.number == i %}
    <li class="page-item active">
      <a class="page-link" href="#">{{ i }}  <span class="sr-only">(current)</span></a>
    </li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if data.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ data.next_page_number }}">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}

<script>
  $( function() {
    var availableTags = [
        {% for i in all_data_all %}
            "{{i.session_id}}",
            "{{i.session_name}}",
            "{{i.session_author}}",
            "{{i.session_pub_date}}",
            "{{i.session_tag1}}",
            "{{i.session_tag2}}",
            "{{i.session_tag3}}",
            "{{i.session_tag4}}",
        {% endfor %}
    ];
    $( "#tags" ).autocomplete({
      source: function(request, response) {
        var results = $.ui.autocomplete.filter(availableTags, request.term);
        response(results.slice(0, 4));
      }
    });
  } );
</script>

{% endblock %}
