{% extends "oncl_app/admin_base.html" %}

{% block content %}

{% load static %}

<title>Manage Subjects Info. | OnCl - Edu. Cloud</title>

<style>
a {
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

body {
  line-height: 1.25;
}

table {
  border: 2px solid #6c757d87;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #FFF;
  border: 1px solid #6c757d87;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  background-color: #6c757d87;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #6c757d87;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #6c757d87;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

.edit_button {
    color: #fcc834;
}

.delete_button {
    color: #F1615C;
}

@media only screen and (min-width: 601px) {
    .outlined {
        border-left: 2px solid var(--gray);
    }
}
.img-container {
  text-align: center;
}
</style>

{% if subjects.count == 0 %}
<div class="img-container" onclick="document.location='{% url 'add_subject' %}'" style="cursor: pointer; padding-top: 40px;">
  <img src="{% static 'oncl_app/no_subjects.jpg' %}" style="max-height: 30rem;" alt="no_subjects" class="img-fluid">
</div>
<div style="text-align: center; font-weight: bold; font-size: 1.4rem;">
  <p><i class="fas fa-info-circle"></i> No Subjects Created Yet!</p>
</div>

{% else %}

<link rel="stylesheet" href="{% static 'oncl_app/main.css' %}">

<div style="padding: 30px 10px 10px 10px; display: flex; justify-content: space-between;">
    <div onclick="document.location='{% url 'add_subject' %}'" class="login_button" style="border-style: solid; border-width: 2px; border-color: #F1615C #4285f4 #fcc834 #76e989; cursor: pointer;color: #ffffff; display: inline-flex; background-color: #ffffff; padding: 10px; border-radius: 5px;">
        <a href="#" style="text-decoration: none; font-size: 1rem; color: #000;"><i class="fas fa-book"></i> Add Subject</a>
    </div>
    <div onclick="exportTableToCSV('Subject_Info.csv')" class="login_button" style="border-style: solid; border-width: 2px; border-color: #F1615C #4285f4 #fcc834 #76e989; cursor: pointer;color: #ffffff; display: inline-flex; background-color: #ffffff; padding: 10px; border-radius: 5px;">
      <span style="text-decoration: none; font-size: 1rem; color: #000;"><b>Export <i class="fas fa-file-csv"></i> File</b></span>
    </div>
</div>


<div style="padding: 10px;">
    <table>
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Subject Name</th>
            <th scope="col">Branch</th>
            <th scope="col">Faculty</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        {% endif %}
        {% for subject in subjects %}
        <tr>
        <td data-label="ID">{{ subject.id }}</td>
        <td data-label="Subject">{{ subject.subject_name }}</td>
        <td data-label="Branch">{{ subject.branch }}</td>
        <td data-label="Faculty">{{ subject.staff_id.first_name }} {{ subject.staff_id.last_name }}</td>
        <td data-label="Action" class="outlined">
            <a class="edit_button" href="{% url 'edit_subject' subject.id %}"><i class="fas fa-edit"></i> Edit</a> &nbsp; <br>
            <a class="delete_button" href="{% url 'delete_subject' subject.id %}"><i class="fas fa-trash"></i> Delete</a>
        </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
  function exportTableToCSV(filename) {
    var csv = [];
    var rows = document.querySelectorAll("table tr");
    
    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll("td, th");
        
        for (var j = 0; j < cols.length-1; j++) 
            row.push(cols[j].innerText);
        
        csv.push(row.join(","));        
    }

    // Download CSV file
    downloadCSV(csv.join("\n"), filename);
}

function downloadCSV(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV file
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // Create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Hide download link
    downloadLink.style.display = "none";

    // Add the link to DOM
    document.body.appendChild(downloadLink);

    // Click download link
    downloadLink.click();
}
</script>

{% endblock %}
