{% extends "oncl_app/admin_base.html" %}

{% block content %}

{% load static %}

<title>E - Library | E - Books | OnCl - Edu. Cloud</title>

<style>
    a {
        text-decoration: none;
        font-weight: bolder;
    }
    a:hover {
        text-decoration: none;
    }
    .search_bar_custom {
        display: flex;
        justify-content: space-around;
        padding: 50px 0 50px 0;
    }
    .img-container {
        text-align: center;
    }
</style>

<link rel="stylesheet" href="{% static 'oncl_app/main.css' %}">

{% if all_data_all.count == 0 %}
<div class="img-container"
{% for group_for in request.user.groups.all %}
{% if group_for.name == 'Admin' %}
onclick="document.location='{% url 'upload_book' %}'"
{% elif group_for.name == 'Faculty' %}
onclick="document.location='{% url 'upload_book' %}'"
{% else %}
{% endif %}
{% endfor %}
style="cursor: pointer;">
    <img src="{% static 'oncl_app/no_media_files_default.webp' %}" style="max-height: 30rem;" alt="no_media_files_default" class="img-fluid">
</div>
<div style="text-align: center; font-weight: bold; font-size: 1.4rem;">
    <p><i class="fas fa-info-circle"></i> No Books Uploaded Yet!</p>
</div>

{% else %}
<script src="https://kit.fontawesome.com/f64de7b412.js" crossorigin="anonymous"></script>
<div class="search_bar_custom">
    <div class="content">
    <form method="GET" action="/search_book">
      <div class="search">
        <input type="text" class="search__input" aria-label="search" id="tags" name="search" placeholder="Search Books...">
        <button type="submit" class="search__btn" aria-label="submit search"><i class="fas fa-search"></i></button>
      </div>
    </form>
    </div>
</div>

<div class="main">
    <div style="padding: 30px 0px 10px 10px;">
        <div onclick="document.location='{% url 'upload_book' %}'" class="login_button" style="border-style: solid; border-width: 2px; border-color: #F1615C #4285f4 #fcc834 #76e989; cursor: pointer;color: #ffffff; display: inline-flex; background-color: #ffffff; padding: 10px; border-radius: 5px;">
            <a href="#" style="text-decoration: none; color: #000;"><i class="fas fa-book"></i> Add Book</a>
        </div>
    </div>
    {% endif %}
    <ul class="cards">
    {% for book in data %}
    <li class="cards_item">
        <div class="card">
            <div class="card_icon"><span><img src="{{book.book_pic.url}}" alt="book_cover" style="object-fit: cover; height: 250px;"></span></div>
            <div class="card_content">
                   <h2 class="card_title">{{book.book_name}}</h2>
                   <p class="card_text"></p>
                   <p class="card_text"><b>Book By</b> <a href="https://www.google.com/search?q={{book.book_author}}" target="_blank">{{book.book_author}}</a><b> 
                    
                    {% if book.book_pub_date|length == 4 %}
                    in
                    {% else %}
                    on 
                    {% endif %}
                    
                    {{book.book_pub_date}}

                    </b></p>
                   <p class="card_text">{{book.book_desc}}</p>
                   <p class="card_text">
                       <div style="display: flex; font-size: 0.7rem; font-weight: bolder; flex-direction: row; flex-wrap: wrap; align-content: space-between; justify-content: space-evenly; align-items: center;">
                        <div>
                            <p style="background-color: #F1516C; color: #fff; padding: 5px; text-align: center; border-radius: 15px;"> {{book.book_tag1}} </p>
                           </div>
                            <div>
                                <p style="background-color: #5f95eb; color: #fff; padding: 5px; text-align: center; border-radius: 15px;"> {{book.book_tag2}} </p>
                            </div>
                            <div>
                                <p style="background-color: #76e989; color: #fff; padding: 5px; text-align: center; border-radius: 15px;"> {{book.book_tag3}} </p>
                            </div>
                            <div>
                                <p style="background-color: #fcc834; color: #fff; padding: 5px; text-align: center; border-radius: 15px;"> {{book.book_tag4}} </p>
                            </div>
                       </div>
                   </p>
                   <p class="card_text">
                       <div style="display: flex; justify-content: space-between">
                           <div>
                            <a href="{{book.book_file.url}}"><i class="fas fa-download"></i> Book</a>
                           </div>
                           <div>
                            {% for group_for in request.user.groups.all %} 
                            {% if group_for.name == 'Admin' and request.user.id == book.user.id %}
                            <a href="{% url 'edit_book' book.id %}"><i class="fas fa-edit"></i></a>
                            <a href="{% url 'delete_book' book.id %}" style="color: #f44336;"><i class="far fa-trash-alt"></i></a>
                            {% elif group_for.name == 'Faculty' %}
                            {% if request.user.id == book.user.id|add:"0" %}
                            <a href="{% url 'edit_book' book.id %}"><i class="fas fa-edit"></i></a>
                            <a href="{% url 'delete_book' book.id %}" style="color: #f44336;"><i class="far fa-trash-alt"></i></a>
                            {% else %}
                            {% endif %}
                            {% else %}
                            {% endif %}
                            {% endfor %}
                           </div>
                       </div>
                   </p>
             </div>
       </div>
    </li>
    {% endfor %}
    </ul>
</div>
{% if data.has_other_pages %}
<nav aria-label="Pagination">
  <ul class="pagination">
    {% if data.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ data.previous_page_number }}">Previous</a>
    </li>
    {% endif %}
    {% for i in data.paginator.page_range %}
    {% if data.number == i %}
    <li class="page-item active">
      <a class="page-link" href="#">{{ i }}  <span class="sr-only">(current)</span></a>
    </li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if data.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ data.next_page_number }}">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}

<script>
    $( function() { 
      var availableTags = [
          {% for view_books in all_data_all %}
              "{{view_books.book_id}}",
              "{{view_books.book_name}}",
              "{{view_books.book_author}}",
              "{{view_books.book_pub_date}}",
              "{{view_books.book_tag1}}",
              "{{view_books.book_tag2}}",
              "{{view_books.book_tag3}}",
              "{{view_books.book_tag4}}",
          {% endfor %}
      ];
      $( "#tags" ).autocomplete({
      source: function(request, response) {
        var results = $.ui.autocomplete.filter(availableTags, request.term);
        response(results.slice(0, 4));
      }
    });
    } );
  </script>

{% endblock %}
