{% extends "oncl_app/admin_base.html" %}

{% block content %}

{% load static %}

<title>Manage Announcements | OnCl - Edu. Cloud</title>

<style>
a {
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.view_button {
  color: #03a9f4;
  font-size: medium;
}

.edit_button {
    color: #fcc834;
    font-size: medium;
}

.delete_button {
    color: #F1615C;
    font-size: medium;
}

.search_bar_custom {
  display: flex;
  justify-content: space-around;
  padding: 50px 0 50px 0;
}

/* ========================================================================
 * MESSAGES
 * ======================================================================== */
.message form {
  padding: 6px 15px;
  background-color: #FAFAFA;
  border-bottom: 1px solid #E6EBED;
}
.message form .has-icon .form-control-icon {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  width: 34px;
  line-height: 33px;
  text-align: center;
  color: #777;
}
.message > a {
  position: relative;
}
.message .indicator {
  text-align: center;
}

.message-wrapper {
  position: relative;
  padding: 0px;
  /* background-color: rgb(255, 0, 0); */
  margin: 0px;
  border-radius: 25px;
}
.message-sideright {
  border-radius: 15px;
}
.message-wrapper .message-sideright[class*="col-"] {
  padding: 30px;
  border: 2px solid #bdbdbd;
  margin-bottom: 20px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #bdbdbd;
}

.message-wrapper .message-sideright .panel:first-child {
  border-top: none;
  padding-top: 0px;
}
.message-wrapper .message-sideright .panel .panel-heading {
  border-bottom: none;
}
.message-wrapper .panel {
  background-color: transparent !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.message-wrapper .panel .panel-heading, .message-wrapper .panel .panel-body {
  background-color: transparent !important;
}
.message-wrapper .media .media-body {
  font-weight: 300;
}
.message-wrapper .media .media-heading {
  margin-bottom: 0px;
}
.message-wrapper .media small {
  color: #343a40;
  font-weight: 900;
}

.list-message .list-group-item.active:hover, .list-message .list-group-item.active:focus, .list-message .list-group-item.active:active {
  background-color: #EEEEEE;
}
.list-message .list-group-item small {
  font-size: 12px;
}
.list-message .list-group-item .list-group-item-heading {
  color: #999999 !important;
}
.list-message .list-group-item .list-group-item-text {
  margin-bottom: 10px;
}
.list-message .list-group-item:last-child {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border-bottom: 1px solid #DDD !important;
}
.avatar{
  width:50px;
  height:50px;
  border-radius: 25px;
}
.img-container {
  text-align: center;
}
.hidden{
  display : none;
}
</style>

{% if announcements_all.count == 0 %}
<div class="img-container" onclick="document.location='{% url 'add_announcement' %}'" style="cursor: pointer; padding-top: 40px;">
  <img src="{% static 'oncl_app/no_announcements.jpg' %}" style="max-height: 30rem;" alt="no_announcements" class="img-fluid">
</div>
<div style="text-align: center; font-weight: bold; font-size: 1.4rem;">
  <p><i class="fas fa-info-circle"></i> No Announcements Made Yet!</p>
</div>

{% else %}
<link rel="stylesheet" href="{% static 'oncl_app/main.css' %}">

<script src="https://kit.fontawesome.com/f64de7b412.js" crossorigin="anonymous"></script>
<div class="search_bar_custom">
    <div class="content">
    <form method="POST" action="/search_announcements">
      <div class="search">
        {% csrf_token %}
        <input type="text" class="search__input" aria-label="search" id="tags" name="search" placeholder="Search Announcements...">
        <button type="submit" class="search__btn" aria-label="submit search"><i class="fas fa-search"></i></button>
      </div>
    </form>
    </div>
</div>

<div class="container">
{% for group_for in request.user.groups.all %}
{% if group_for.name == 'Admin' %}
<div style="padding-bottom: 10px;">
    <div onclick="document.location='{% url 'add_announcement' %}'" class="login_button" style="border-style: solid; border-width: 2px; border-color: #F1615C #4285f4 #fcc834 #76e989; cursor: pointer;color: #ffffff; display: inline-flex; background-color: #ffffff; padding: 10px; border-radius: 5px;">
        <a href="#" style="text-decoration: none; color: #000;"><i class="fas fa-bullhorn"></i> Make Announcement</a>
    </div>
</div>
{% elif group_for.name == 'Faculty' %}
<div style="padding-bottom: 10px;">
  <div onclick="document.location='{% url 'add_announcement' %}'" class="login_button" style="border-style: solid; border-width: 2px; border-color: #F1615C #4285f4 #fcc834 #76e989; cursor: pointer;color: #ffffff; display: inline-flex; background-color: #ffffff; padding: 10px; border-radius: 5px;">
      <a href="#" style="text-decoration: none; color: #000;"><i class="fas fa-bullhorn"></i> Make Announcement</a>
  </div>
</div>
{% else %}
{% endif %}
{% endfor %}
  {% endif %}
  {% for announcement in announcements %}
  <div class="row message-wrapper rounded shadow mb-20">
    <div class="col-md-12 message-sideright">
        <div class="panel">
            <div class="panel-heading">
                <div class="media" style="gap: 10px;">
                    <a class="pull-left" href="#">
                        <img alt="avatar" letters="{{ announcement.user.first_name|first}}" alt="profile_pic" class="img-circle avatar">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{ announcement.user.first_name }} 
                          {% if announcement.user > '1' %}
                          <a class="view_button" href="{% url 'view_staff' announcement.an_user %}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                          {% endif %}
                          
                          {% for group_for in request.user.groups.all %} 
                          {% if group_for.name == 'Admin' %}
                          |
                          <a class="edit_button" href="{% url 'edit_announcement' announcement.id %}"><i class="fas fa-edit"></i> Edit</a> &nbsp;
                          <a class="delete_button" href="{% url 'delete_announcement' announcement.id %}"><i class="fas fa-trash"></i> Delete</a>
                          {% elif group_for.name == 'Faculty' %}
                          {% if request.user.id == announcement.user.id|add:"0" %}
                          |
                          <a class="edit_button" href="{% url 'edit_announcement' announcement.id %}"><i class="fas fa-edit"></i> Edit</a> &nbsp;
                          <a class="delete_button" href="{% url 'delete_announcement' announcement.id %}"><i class="fas fa-trash"></i> Delete</a>
                          {% else %}
                          {% endif %}
                          {% else %}
                          {% endif %}
                          {% endfor %}
                        </h4>
                        <small>{{ announcement.created_at }}</small>
                        <small title="{{ announcement.updated_at }}" onclick="showhide_{{announcement.id|safe}}()">
                          {% if announcement.updated_at != announcement.created_at %}
                          [Edited]
                          {% else %}
                          
                          {% endif %}
                        </small>
                        {% if announcement.updated_at != announcement.created_at %}
                          <small id="newpost_{{announcement.id|safe}}" class="hidden">{{ announcement.updated_at }}</small>
                        {% endif %}                        
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <p class="lead" style="margin-top: 10px;">
                  {{announcement.sub_an}}
                </p>
                <hr>
                <p>
                  {{announcement.what_an}}
                </p>
                <p>
                  {% if announcement.an_image.url == '/files/False' %}
                  <i class="fas fa-paperclip"></i> No files attached.
                  {% else %}
                  <a href="{{announcement.an_image.url}}" target="_blank"><i class="fas fa-paperclip"></i> Download/View Attached File(s)</a>
                  {% endif %}
                </p>
            </div>
        </div>
    </div>
  </div>
  {% endfor %}
  {% if announcements.has_other_pages %}
  <nav aria-label="Pagination">
    <ul class="pagination">
      {% if announcements.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ announcements.previous_page_number }}">Previous</a>
      </li>
      {% endif %}
      {% for i in announcements.paginator.page_range %}
      {% if announcements.number == i %}
      <li class="page-item active">
        <a class="page-link" href="#">{{ i }}  <span class="sr-only">(current)</span></a>
      </li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
      {% endfor %}
      {% if announcements.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ announcements.next_page_number }}">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>

<script>
  $( function() { 
    var availableTags = [
        {% for announcement in announcements %}
            "{{announcement.sub_an}}",
            "{{announcement.an_by}}",
        {% endfor %}
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );
</script>

<script>
  {% for announcement in announcements %}
  function showhide_{{announcement.id|safe}}() {
    
    var div_{{announcement.id|safe}} = document.getElementById("newpost_{{announcement.id|safe}}");
    div_{{announcement.id|safe}}.classList.toggle('hidden'); 
    
  }
  {% endfor %}
</script>

{% endblock %}
