{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Description" content="OnCl - Edu. Cloud is a Educational Cloud Application which helps students, faculty and others who are in the learning world.">
    <!-- Theme Color above the Navbar in Mobile Phones -->
    <meta name="theme-color" content="#5f95eb">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheet for Google Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- FontAwesome Icons -->
    <script src="https://kit.fontawesome.com/982d9630c6.js" crossorigin="anonymous"></script>
    <!-- Google Font Root Link -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Font Style for Navbar -->
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <!-- Bootstrap Link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'oncl_app/contact_us_stuff/css/style.css' %}">
    <link rel="apple-touch-icon" href="{% static 'oncl_app/images/whin.webp' %}" type="image/icon type">
    <link rel="icon" href="{% static 'oncl_app/images/whin.webp' %}" type="image/icon type">

    <title>Contact Us | OnCl - Edu. Cloud</title>

    <style>
/* Styles for Navbar */
.bg-light {
    background-color: #ffffff!important;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

/* Styles for Navbar Logo */
.header_img {
  height: 30px;
  width: 30px;
  margin-bottom: 6px;
}

@media (max-width: 768px) {
  .header_img {
    height: 25px;
    width: 25px;
    margin-bottom: 8px;
  }
}

@media (max-width: 376px) {
  .header_img {
    height: 24px;
    width: 24px;
    margin-bottom: 6px;
  }
}

@media (max-width: 321px) {
  .header_img {
    height: 22px;
    width: 22px;
    margin-bottom: 2px;
  }
}

@media (max-width: 376px) {
  .hidden_text {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 360px) {
  .hidden_text {
    font-size: 1.43rem;
  }
}

@media (max-width: 321px) {
  .hidden_text {
    font-size: 1.14rem;
  }
}

@media (max-width: 281px) {
  .hidden_text {
    font-size: 1.05rem;
  }

  a.navbar-brand {
    margin-right: 0px;
  }

  .login_button {
    padding: 5px;
    font-size: 0.7rem;
  }

  .header_img {
    height: 20px;
    width: 20px;
    margin-bottom: 2px;
  }
}

.login_button:hover {
  color: #272727;
}
    </style>
</head>
<body>

    <nav class="navbar sticky-top navbar-light bg-light" style="padding: 18px;">
        <a href="/" class="navbar-brand">
            <img class="header_img" src="{% static 'oncl_app/images/whin.webp' %}" alt="OnCl Logo">
            <span style="font-weight: 500; font-family: 'Fredoka One', cursive; color: #3c4043; font-size: 1.6rem;">
              <span class="hidden_text" style="color: tomato;">O</span><span class="hidden_text" style="color: #5f95eb;">n</span><span class="hidden_text" style="color: #76e989;">C</span><span class="hidden_text" style="color: #fcc834">l</span> <span class="hidden_text">- Edu. Cloud</span>
            </span>
        </a>
        <div onclick="login_page()" class="login_button" style="cursor: pointer;color: #ffffff; background-color: #424242; box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%); padding: 10px; border-radius: 5px;">
          <a href="{% url 'login' %}" style="text-decoration: none; color: #FFFFFF;"><i class="fas fa-sign-in-alt"></i> Login</a>
        </div>
    </nav>

  <div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <h3 class="heading mb-4">Hi, how can we help?</h3>
              <p>Have questions or need to report an issue with a OnCl service? We've got you covered.</p>
              <p><img src="{% static 'oncl_app/contact_us_stuff/images/undraw-contact.svg' %}" alt="Image" class="img-fluid"></p>
            </div>
            <div class="col-md-6">
              <form class="mb-5" method="post" id="contactForm" name="contactForm">
                {% csrf_token %}
                {% if request.user.is_authenticated %}
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="name" value='{{request.user.first_name}} {{request.user.last_name}}' readonly required id="id_name" maxlength="40" placeholder="Your Name">
                  </div>
                </div>
                {% else %}
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="name" required id="id_name" maxlength="40" placeholder="Your Name">
                    <div id="messagename">
                        <p>
                            <p id="lengthfn" class="invalidname"></p>
                        </p>
                    </div>
                  </div>
                </div>
                {% endif %}

                {% if request.user.is_authenticated %}
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="email" class="form-control" name="from_email" value={{request.user.email}} readonly required id="id_from_email" placeholder="Email">
                  </div>
                </div>
                {% else %}
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="email" class="form-control" name="from_email" required id="id_from_email" placeholder="Email">
                    <div id="messageemail">
                        <p>
                            <p id="email" class="invalidemail"></p>
                        </p>
                    </div>
                  </div>
                </div>
                {% endif %}
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="subject" maxlength="40" required id="id_subject" placeholder="Subject">
                    <div id="messagesubject">
                        <p>
                            <p id="lengthsubject" class="invalidsubject"></p>
                        </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <textarea class="form-control" name="message" id="id_message" cols="30" rows="7" required placeholder="Write your message"></textarea>
                    <div id="message">
                        <p>
                            <p id="length" class="invalid"></p>
                        </p>
                    </div>
                  </div>
                </div>  
                <div class="row">
                  <div class="col-12"> 
                    <button type="submit" class="btn btn-primary rounded-0 py-2 px-4"><i class="far fa-paper-plane"></i>&nbsp; <b>Send Message</b></button>
                  <span class="submitting"></span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script>
      var myInputname = document.getElementById("id_name");
      var lengthfn = document.getElementById("lengthfn");

      myInputname.onfocus = function() {
        document.getElementById("messagename").style.display = "block";
      }
      
      myInputname.onblur = function() {
        document.getElementById("messagename").style.display = "none";
      }

      // When the user starts to type something inside the field
      myInputname.onkeyup = function() {
        // Validate length of first name
        if(myInputname.value.length >= 3) {
          lengthfn.classList.remove("invalidname");
        } else {
          length.classList.remove("valid");
          lengthfn.classList.add("invalidname");
        }			
      }

      var myInputemail = document.getElementById("id_from_email");
      var email = document.getElementById("email");
      
      // When the user clicks on the email field, show the message box
      myInputemail.onfocus = function() {
        document.getElementById("messageemail").style.display = "block";
      }
      
      // When the user clicks outside of the email field, hide the message box
      myInputemail.onblur = function() {
        document.getElementById("messageemail").style.display = "none";
      }
      
      // When the user starts to type something inside the email field
      myInputemail.onkeyup = function() {
        var emailvalidation = /^[a-z0-9._%+-]+@[a-z]+\.[a-z]{2,}$/g;
        if(myInputemail.value.match(emailvalidation)) {  
          email.classList.remove("invalidemail");
        } else {
          email.classList.remove("valid");
          email.classList.add("invalidemail");
        }
      }

      var myInputsubject = document.getElementById("id_subject");
      var lengthsubject = document.getElementById("lengthsubject");

      myInputsubject.onfocus = function() {
        document.getElementById("messagesubject").style.display = "block";
      }
      
      myInputsubject.onblur = function() {
        document.getElementById("messagesubject").style.display = "none";
      }

      // When the user starts to type something inside the field
      myInputsubject.onkeyup = function() {
        // Validate length of first name
        if(myInputsubject.value.length >= 8) {
          lengthsubject.classList.remove("invalidsubject");
        } else {
          length.classList.remove("valid");
          lengthsubject.classList.add("invalidsubject");
        }			
      }

      var myInput = document.getElementById("id_message");
      var length = document.getElementById("length");

      myInput.onfocus = function() {
        document.getElementById("message").style.display = "block";
      }
      
      myInput.onblur = function() {
        document.getElementById("message").style.display = "none";
      }

      // When the user starts to type something inside the field
      myInput.onkeyup = function() {
        // Validate length of first name
        if(myInput.value.length >= 3) {
          length.classList.remove("invalid");
        } else {
          length.classList.remove("valid");
          length.classList.add("invalid");
        }			
      }
      </script>

</body>
</html>